<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Service</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- QR CDN -->
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  </head>
  <body>
    <header class="container-fluid">
      <div class="text-center">
        <h1 class="display-4">Service</h1>
      </div>
    </header>
    <div
      class="modal fade"
      id="modal-dialog"
      tabindex="-1"
      aria-modal="true"
      role="dialog"
      style="display: hidden"
      onClick="hideModal();"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              onClick="hideModal();"
            ></button>
          </div>
          <div class="modal-body">
            <p id="modal-message">
              Woohoo, you're reading this text in a modal!
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              id="modal-btn"
              class="btn btn-primary"
              style="min-width: 120px"
              onClick="hideModal();"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <main class="container-fluid">
      <div class="row content">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sidenav">
          <h4 class="mt-2 mb-2">Booking Info</h4>
          <form id="search-code">
            <div class="input-group">
              <input
                type="text"
                id="guest-code"
                class="form-control"
                placeholder="Enter code.."
              />
              <span class="input-group-btn">
                <button
                  type="submit"
                  class="btn btn-outline-secondary"
                  type="button"
                >
                  🔍
                </button>
              </span>
            </div>
            <div id="guest-code-help" class="form-text text-danger hidden">
              Invalid code.
            </div>
          </form>
          <table class="table table-condensed mt-2">
            <tbody>
              <tr>
                <td>Name:</td>
                <td id="name-info"></td>
              </tr>
              <tr>
                <td>Dates:</td>
                <td id="dates-info"></td>
              </tr>
              <tr>
                <td>Hotel:</td>
                <td id="hotel-info"></td>
              </tr>
              <tr>
                <td>WhatsApp:</td>
                <td id="whatsapp-info"></td>
              </tr>
              <tr>
                <td>Egypt Phone:</td>
                <td id="phone-info"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
          <h2>Services</h2>
          <div class="scrollable-content" style="overflow-y: auto">
            <table class="table table-condensed table-hover" id="service-table">
              <thead>
                <th>Select</th>
                <th>Service</th>
                <th>Service Date</th>
                <th>Adult</th>
                <th>Child</th>
                <th>Inf</th>
                <th>PUT</th>
                <th>P.Adult</th>
                <th>P.Child</th>
                <th>P.Inf</th>
                <th>Currency</th>
              </thead>
              <tbody></tbody>
            </table>
            <button
              id="btn-confirm"
              class="btn btn-primary m-2 col float-end"
              style="max-width: 120px; max-height: 40px"
              onClick="totalizeService(true)"
            >
              Confirm
            </button>
          </div>
        </div>
        <hr />
        <div class="row">
          <h3>Selected Services</h3>
          <hr />
          <div
            id="summary-services"
            class="col-lg-9 col-md-7 col-sm-12 col-xs-12"
          ></div>
          <div class="card col-lg-3 col-md-5 col-sm-12 col-xs-12">
            <div class="mb-3">
              <label for="branch-name" class="form-label">
                Branch Name <span class="text-danger">*</span>
              </label>
              <select
                id="branch-name"
                class="form-label form-select form-select-sm"
              ></select>
              <div id="branch-name-help" class="form-text text-danger hidden">
                This field is required.
              </div>
            </div>
            <table id="table-total" class="table table-condensed table-hover">
              <thead>
                <th>Currency</th>
                <th>Amount</th>
              </thead>
              <tbody></tbody>
            </table>
            <table
              id="currency-total"
              class="table table-condensed table-hover"
            >
              <thead>
                <th>Currency</th>
                <th>Paid</th>
              </thead>
              <tbody></tbody>
            </table>
            <table id="rest-total" class="table table-condensed table-hover">
              <thead>
                <th>Currency</th>
                <th>Rest</th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <select
                      id="rest-currency"
                      class="form-control form-control-sm"
                    ></select>
                  </td>
                  <td id="rest-amount" style="font-weight: bold"></td>
                </tr>
              </tbody>
            </table>
            <button
              class="btn btn-primary mb-2"
              onClick="postService();"
              type="button"
            >
              CONFIRM BOOKING
              <div
                id="spinner"
                class="spinner-border spinner-border-sm hidden"
                role="status"
              >
                <span class="sr-only"></span>
              </div>
            </button>
            <button
            id="print-btn"
            class="btn btn-success disabled"
            onClick="printReceipt();"
            type="button"
          >
            PRINT
          </button>
          </div>
        </div>
        <div
          id="receipt"
          class="hidden"
          style="
            width: 80mm;
            background-color: gray;
            margin: 2px auto;
            font-family: serif;
          "
        >
          <img
            id="outputImage"
            alt="Converted Image"
            style="
              max-width: 100%;
              max-height: 60px;
              margin: 0 auto;
              display: block;
              font-size: 15px;
            "
          />
          <div
            id="receipt-branch"
            style="
              text-align: center;
              margin-top: 2px;
              border-bottom: 1px dashed black;
            "
          >
            <h3
              id="receipt-branch-name"
              style="font-size: 17px; font-weight: bold"
            >
              Hurghada Branch
            </h3>
            <p id="receipt-branch-address" style="line-height: 12pt">
              El Kahf St, Central Building, Hurghada, Red Sea
            </p>

            <p></p>
            <p id="receipt-branch-phone" style="margin-top: -12px">
              (012) 2123-8570
            </p>
          </div>
          <div
            id="receipt-header"
            style="
              border-bottom: 1px solid black;
              padding-top: 2px;
              padding-bottom: 2px;
            "
          >
            <div>
              <div style="display: inline-block" id="receipt-order">
                Order #21
              </div>
              <span id="receipt-date" style="float: right; text-align: right">
                26/Jan/2024 12:00AM
              </span>
            </div>
            <div>
              <div style="display: inline-block">Cashier: Online</div>
            </div>
          </div>
          <div id="receipt-details">
            <div
              style="
                border-bottom: 1px dashed black;
                padding-top: 2px;
                padding-bottom: 2px;
              "
            >
              <div style="font-weight: bold; display: block; width: 100%">
                Dolphin show + swimming 5
              </div>
              <div style="line-height: 12pt; width: 50%; display: inline-block">
                Friday, 26 January 2024
              </div>
              <div
                style="
                  line-height: 12pt;
                  width: 20%;
                  display: inline-block;
                  text-align: right;
                "
              >
                2 + 1
              </div>
              <div
                style="
                  line-height: 12pt;
                  width: 25%;
                  display: inline-block;
                  text-align: right;
                "
              >
                180.00
              </div>
            </div>
            <div
              style="
                border-bottom: 1px dashed black;
                padding-top: 2px;
                padding-bottom: 2px;
              "
            >
              <div style="font-weight: bold; display: block; width: 100%">
                Dolphin show + swimming 5
              </div>
              <div style="line-height: 12pt; width: 50%; display: inline-block">
                Friday, 26 January 2024
              </div>
              <div
                style="
                  line-height: 12pt;
                  width: 20%;
                  display: inline-block;
                  text-align: right;
                "
              >
                2 + 1
              </div>
              <div
                style="
                  line-height: 12pt;
                  width: 25%;
                  display: inline-block;
                  text-align: right;
                "
              >
                180.00
              </div>
            </div>
          </div>
          <div
            id="receipt-payment"
            style="
              border-top: 2px solid black;
              margin-top: -2px;
              padding-top: 2px;
              border-bottom: 1px solid black;
            "
          >
            <div style="font-weight: bold; font-size: 17px">
              Total:
              <span id="receipt-total" style="float: right">7,440.00 EGP</span>
            </div>
            <div style="font-weight: bold; font-size: 17px">
              Paid:
              <span id="receipt-paid" style="float: right">7,440.00 EGP</span>
            </div>
            <div style="font-weight: bold; font-size: 17px">
              Rest:
              <span id="receipt-rest" style="float: right">7,440.00 EGP</span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    let isSubmitted = false;
    let registrationInfo = {};
    let totalCurrency = {};
    let currencyExchange = [];
    let selectedServices = [];
    let availableServices = [];
    let receiptPayment = {};
    let branches = [];
    let selectedBranch = null;
    paymentInfo = {};
    $(document).ready(function () {
      getExchange();
      $("#rest-currency").change(function () {
        showRest();
      });
      getBranchOptions();
      selectedBranch = getCookie("branch") || 0;
      console.log("selected branch", selectedBranch);

      $("#branch-name").change(function () {
        const branch = $(this).val() || 0;
        selectedBranch = branch;
        setCookie("branch", selectedBranch, 90);
      });
    });
    $("#search-code").submit(function (e) {
      e.preventDefault();
      isSubmitted = true;
      const code = $("#guest-code").val();
      $("#spinner").removeClass("hidden");
      resetInput();
      getRegistration(code);
    });

    function getBranchOptions() {
      $.ajax({
        url: "http://159.223.250.9/api/branches/", // Your API endpoint URL
        type: "GET",
        dataType: "json",
        success: function (data) {
          branches = data;
          console.log(data);
          const branchInput = $("#branch-name");
          branchInput.empty();
          branchInput.append(
            $("<option>", {
              value: "",
              text: "Select Option",
            })
          );
          $.each(data, function (index, option) {
            branchInput.append(
              $("<option>", {
                value: option.branchnu,
                text: option.branchname,
              })
            );
          });
          branchInput.val(selectedBranch);
        },
        error: function (xhr, status, error) {
          console.error("Error:", status, error);
        },
      });
    }

    function getRegistration(code) {
      $.ajax({
        url: `http://159.223.250.9/api/get-registration/${code}/`, // Your API endpoint URL
        type: "GET",
        dataType: "json",
        success: function (data) {
          registrationInfo = data;
          showGuestDetails();
          getService(registrationInfo.hotel_data.hotel_id);
        },
        error: function (xhr, status, error) {
          console.error("Error:", status, error);
          registrationInfo = {};
          showGuestDetails();
        },
      });
    }
    function getService(hotelId) {
      $.ajax({
        url: `http://159.223.250.9/api/list-service/${hotelId}/`, // Your API endpoint URL
        type: "GET",
        dataType: "json",
        success: function (data) {
          availableServices = data;
          showAvailableServices();
        },
        error: function (xhr, status, error) {
          console.error("Error:", status, error);
          availableServices = [];
          showAvailableServices();
        },
      });
    }

    function selectRow(rowId) {
      const isChecked = $(`#check-${rowId}`).prop("checked");
      const adult = $(`#adult-${rowId}`);
      const child = $(`#child-${rowId}`);
      const inf = $(`#inf-${rowId}`);
      const dateInput = $(`#date-${rowId}`);
      if (isChecked) {
        adult.val(registrationInfo.adult);
        child.val(registrationInfo.child);
        inf.val(registrationInfo.inf);
        const currentDate = new Date().toISOString().split("T")[0];
        dateInput.val(currentDate);
      } else {
        adult.val(null);
        child.val(null);
        inf.val(null);
        dateInput.val(null);
      }
      adult.prop("disabled", !isChecked);
      child.prop("disabled", !isChecked);
      inf.prop("disabled", !isChecked);
      dateInput.prop("disabled", !isChecked);
    }
    function isValidServices() {
      let result = true;
      const tableRows = $("#service-table tr");
      tableRows.each(function (index, element) {
        const elementId = $(element).attr("id")?.substring(4);
        const isChecked = $(`#check-${elementId}`).prop("checked");
        if (isChecked) {
          const serviceDate = $(`#date-${elementId}`).val();
          console.log("serviceDate", serviceDate, ".");
          console.log("length", serviceDate.length);
          if (serviceDate.length === 0) {
            result = false;
          }
        }
      });
      return result;
    }

    function removeSummary() {
      $("#summary-services").empty();
      $("#table-total tbody").empty();
      showRest();
    }

    function totalizeService(scrollDown) {
      const dictCurrency = {};
      const tableRows = $("#service-table tr");
      selectedServices = [];
      receiptPayment = {};
      const validInput = isValidServices();
      console.log(validInput);
      if (!validInput) {
        showModal("Error", "Some dates are missing!", "danger");
        removeSummary();
        return;
      }
      tableRows.each(function (index, element) {
        const elementId = $(element).attr("id")?.substring(4);
        const isChecked = $(`#check-${elementId}`).prop("checked");
        if (isChecked) {
          const adult = $(`#adult-${elementId}`).val();
          const child = $(`#child-${elementId}`).val();
          const inf = $(`#inf-${elementId}`).val();
          const serviceName = $(`#name-${elementId}`).text();
          const pAdult = $(`#p-adult-${elementId}`).text();
          const pChild = $(`#p-child-${elementId}`).text();
          const pInf = $(`#p-inf-${elementId}`).text();
          const currency = $(`#currency-${elementId}`).text();
          const prevValue = dictCurrency[currency] || 0;
          const pickupTime = $(`#put-${elementId}`).text();
          let price = parseFloat(adult) * parseFloat(pAdult);
          price += parseFloat(child) * parseFloat(pChild);
          price += parseFloat(inf) * parseFloat(pInf);
          const serviceDate = $(`#date-${elementId}`).val();
          dictCurrency[currency] = prevValue + price;
          selectedServices.push({
            id: elementId,
            service: serviceName,
            date: serviceDate,
            adult,
            child,
            inf,
            pickupTime,
            pAdult,
            pChild,
            pInf,
            price,
            currency,
          });
        }
        showRest();
      });
      showSummary();
      totalCurrency = dictCurrency;
      const tbody = $("#table-total tbody");
      tbody.empty();
      Object.keys(dictCurrency).forEach(function (key) {
        var value = dictCurrency[key];
        const newRow = $("<tr>");
        newRow.append(`<td>${key}</td>`);
        newRow.append(`<td>${value}</td>`);
        tbody.append(newRow);
      });
      if (scrollDown) {
        const selectedServicesSection = document.getElementById("btn-confirm");
        if (selectedServicesSection) {
          selectedServicesSection.scrollIntoView({
            behavior: "smooth",
            block: "start",
          });
        }
      }
    }
    function getExchange() {
      $.ajax({
        url: "http://159.223.250.9/api/list-exchange/", // Your API endpoint URL
        type: "GET",
        dataType: "json",
        success: function (data) {
          currencyExchange = data;
          showCurrency();
        },
        error: function (xhr, status, error) {
          console.error("Error:", status, error);
        },
      });
    }
    function showGuestDetails() {
      if (registrationInfo !== {}) {
        $("#guest-code-help").addClass("hidden");
        $("#spinner").addClass("hidden");
        $("#name-info").text(registrationInfo.guestname);
        $("#dates-info").text(
          `${registrationInfo.arrivaldate} to ${registrationInfo.departuredate}`
        );
        $("#hotel-info").text(registrationInfo.hotel_data.hotel);
        $("#whatsapp-info").text(registrationInfo.whatsappphone);
        $("#phone-info").text(registrationInfo.phoneegypt);
      } else {
        $("#guest-code-help").removeClass("hidden");
        $("#spinner").addClass("hidden");
        $("#name-info").text("");
        $("#dates-info").text("");
        $("#hotel-info").text("");
        $("#whatsapp-info").text("");
        $("#phone-info").text("");
      }
    }

    function showAvailableServices() {
      const tbody = $("#service-table tbody");
      tbody.empty();
      if (availableServices !== []) {
        availableServices.forEach((i) => {
          const newRow = $("<tr>").attr("id", `row-${i.id}`);
          newRow.append(
            `<td><input type="checkbox" onClick="selectRow(${i.id})" class="form-check-input row-check" id="check-${i.id}"/></td>`
          );
          newRow.append(`<td id="name-${i.id}">${i.name}</td>`);
          newRow.append(
            `<td><input type="date" id="date-${i.id}" class="form-control form-control-sm" style="max-width: 150px;" disabled/></td>`
          );
          newRow.append(
            `<td><input type="number" id="adult-${i.id}" min="0" class="form-control form-control-sm" style="width: 70px;" disabled/></td>`
          );
          newRow.append(
            `<td><input type="number" id="child-${i.id}" min="0" class="form-control form-control-sm" style="width: 70px;" disabled/></td>`
          );
          newRow.append(
            `<td><input type="number" id="inf-${i.id}" min="0" class="form-control form-control-sm" style="width: 70px;" disabled/></td>`
          );
          newRow.append(`<td id="put-${i.id}">${i.put || "00:00"}</td>`);
          newRow.append(`<td id="p-adult-${i.id}"> ${i.p_adult || 0}</td>`);
          newRow.append(`<td id="p-child-${i.id}"> ${i.p_child || 0}</td>`);
          newRow.append(`<td id="p-inf-${i.id}"> ${i.p_inf || 0}</td>`);
          newRow.append(`<td id="currency-${i.id}">${i.currency || 0}</td>`);
          tbody.append(newRow);
        });
      }
    }

    function showSummary() {
      const summaryDev = $("#summary-services");
      summaryDev.empty();
      selectedServices.forEach((i) => {
        summaryDev.append(`<div class="col-sm-10">
          <h4>${i.service}, <small>${i.date}, ${i.pickupTime}</small></h4>
          <p>Number of booked pax is (${i.adult} Adt, ${i.child} Chd, ${i.inf} Inf). Total amount: <b>${i.price} ${i.currency}</b>.</p>
          <br>
        </div>`);
      });
    }

    function showCurrency() {
      const tbody = $("#currency-total tbody");
      const currencySelect = $("#rest-currency");
      tbody.empty();
      currencySelect.empty();
      console.log("currency", currencyExchange);
      currencyExchange.forEach((i) => {
        const newRow = $("<tr>");
        newRow.append(`<td>${i.currency}</td>`);
        newRow.append(
          `<td><input type="number" onChange="showRest();" min="0" currency-data="${i.currency}" class="form-control form-control-sm paid-currency" style="width: 70px;"/></td>`
        );
        tbody.append(newRow);

        currencySelect.append(
          $("<option>", {
            value: i.currency,
            text: i.currency,
          })
        );
      });
    }

    function showRest() {
      paymentInfo = {};
      let priceInEgp = 0;
      let paidInEgp = 0;
      const selectedCurrency = $("#rest-currency").val();
      // get total in EGP
      selectedServices.forEach((i) => {
        priceInEgp += i.price * getExchangeRate(i.currency);
      });
      // get paid in EGP
      const payments = $(".paid-currency").each(function () {
        const currency = $(this).attr("currency-data");
        const value = $(this).val() || 0;
        paidInEgp += value * getExchangeRate(currency);
        paymentInfo[currency] = value;
      });
      const restInEgp = priceInEgp - paidInEgp;
      const restInSelectedCurrency =
        restInEgp / getExchangeRate(selectedCurrency);
      $("#rest-amount").text(restInSelectedCurrency.toFixed(2));
      paymentInfo["selectedRest"] = selectedCurrency;
      paymentInfo["rest"] = restInSelectedCurrency.toFixed(2);

      receiptPayment = {
        currency: selectedCurrency,
        total: priceInEgp / getExchangeRate(selectedCurrency),
        paid: paidInEgp / getExchangeRate(selectedCurrency),
        rest: restInSelectedCurrency,
      };
      console.log(receiptPayment);
    }
    function getExchangeRate(currency) {
      const exchangeRate = currencyExchange.filter(
        (c) => c.currency === currency
      )[0];
      return exchangeRate?.rate || 0;
    }

    function resetInput() {
      selectedServices = [];
      receiptPayment = {};
      availableServices = [];
      showAvailableServices();
      totalizeService(false);
    }

    function isValidServicePost() {
      if (!registrationInfo.guestinfoid > 0) {
        showModal("Error", "Please enter booking!", "danger");
        return false;
      }
      if (!selectedBranch > 0) {
        showModal("Error", "Please select branch!", "danger");
        return false;
      }
      if (selectedServices.length === 0) {
        showModal("Error", "Please select services!", "danger");
        return false;
      }
      return true;
    }
    function postService() {
      if (!isValidServicePost()) {
        return;
      }
      console.log(registrationInfo);
      $("#spinner").removeClass("hidden");
      const requestData = {
        bookingId: registrationInfo.guestinfoid,
        hotel: registrationInfo.hotel_data,
        country: registrationInfo.country,
        date: new Date().toISOString().split("T")[0],
        branch: selectedBranch,
        services: selectedServices,
        payment: paymentInfo,
        exchange: currencyExchange,
      };
      console.log(requestData);
      $.ajax({
        url: "http://159.223.250.9/api/create-service/", // Your API endpoint URL
        type: "POST",
        // dataType: 'json',
        contentType: "application/json",
        data: JSON.stringify(requestData),
        // data: requestData,
        success: function (data) {
          console.log(data);
          showModal("Success", "Saved successfully!", "success");
          generateReceipt(data);
          $('#print-btn').removeClass('disabled');
          $("#spinner").addClass("hidden");
        },
        error: function (xhr, status, error) {
          showModal("Error", "Error saving your services!", "danger");
          $("#spinner").addClass("hidden");
          console.log(error);
        },
      });
    }

    function setCookie(name, value, daysToExpire) {
      let cookie = `${encodeURIComponent(name)}=${encodeURIComponent(value)};`;

      if (daysToExpire) {
        const expirationDate = new Date();
        expirationDate.setDate(expirationDate.getDate() + daysToExpire);
        cookie += `expires=${expirationDate.toUTCString()};`;
      }

      document.cookie = cookie;
    }

    function getCookie(name) {
      const decodedName = encodeURIComponent(name);
      const cookies = document.cookie.split(";");

      for (const cookie of cookies) {
        const [cookieName, cookieValue] = cookie
          .split("=")
          .map((part) => part.trim());
        if (cookieName === decodedName) {
          return decodeURIComponent(cookieValue);
        }
      }

      return null;
    }

    function hideModal() {
      $("#modal-dialog").removeClass("show");
      $("#modal-dialog").css("display", "none");
    }

    function showModal(title, message, status) {
      $("#modal-title").text(title);
      $("#modal-title").removeClass();
      $("#modal-title").addClass("modal-title");
      $("#modal-title").addClass(`text-${status}`);
      $("#modal-message").text(message);
      $("#modal-btn").removeClass();
      $("#modal-btn").addClass("btn");
      $("#modal-btn").addClass(`btn-${status}`);
      $("#modal-dialog").addClass("show");
      $("#modal-dialog").css("display", "block");
    }

    function generateReceipt(info) {
      document.getElementById(
        "outputImage"
      ).src = `data:image/png;base64,${info.branch.logobranch}`;
      $("#receipt-branch-name").text(info.branch.branchname);
      $("#receipt-branch-address").text(info.branch.branchaddress);
      $("#receipt-branch-phone").text(info.branch.branchphone1);
      $("#receipt-order").text(`Order #${registrationInfo.guestinfoid}`);
      $("#receipt-date").text(GetReceiptDate(new Date(), true));
      const receiptDetails = $("#receipt-details");
      receiptDetails.empty();
      selectedServices.forEach((s) => {
        const newService = `<div
        style="
          border-bottom: 1px dashed black;
          padding-top: 2px;
          padding-bottom: 2px;
        "
      >
        <div style="font-weight: bold; display: block; width: 100%">
          ${s.service}
        </div>
        <div style="line-height: 12pt; width: 30%; display: inline-block">
          ${GetReceiptDate(new Date(s.date), false)}
        </div>
        <div
          style="
            line-height: 12pt;
            width: 30%;
            display: inline-block;
            text-align: right;
          "
        >
          ${s.adult} + ${s.child}${s.inf === 0 ? "" : " + "} ${
          s.inf === 0 ? "" : s.inf
        }
        </div>
        <div
          style="
            line-height: 12pt;
            width: 35%;
            display: inline-block;
            text-align: right;
          "
        >
          ${s.price} ${s.currency}
        </div>
      </div>`;
        receiptDetails.append(newService);
      });

      $("#receipt-total").text(
        `${receiptPayment.total.toFixed(2)} ${receiptPayment.currency}`
      );
      $("#receipt-paid").text(
        `${receiptPayment.paid.toFixed(2)} ${receiptPayment.currency}`
      );
      $("#receipt-rest").text(
        `${receiptPayment.rest.toFixed(2)} ${receiptPayment.currency}`
      );
    }

    function GetReceiptDate(inputDate, showTime) {
      const options = {
        day: "2-digit",
        month: "short",
        year: "numeric",
        hour: "2-digit",
        minute: "2-digit",
        hour12: true,
      };
      const formattedDate = new Intl.DateTimeFormat("en-US", options)
        .format(inputDate)
        .split(", ");
      console.log(formattedDate);
      const days = formattedDate[0].split(" ")[1];
      const month = formattedDate[0].split(" ")[0];
      if (showTime) {
        return `${days}/${month}/${formattedDate[1]} ${formattedDate[2]}`;
      }
      return `${days}/${month}/${formattedDate[1]}`;
    }
    function printReceipt() {
      // Get the HTML content of the specific div
      $('#print-btn').addClass('disabled');
      const divToPrint = document.getElementById("receipt");
      const newWin = window.open("", "Print-Window");
      newWin.document.open();
      newWin.document.write(
        '<html><body onload="window.print()">' +
          divToPrint.innerHTML +
          "</body></html>"
      );
      newWin.document.close();
      setTimeout(function () {
        newWin.close();
      }, 10);
    }
  </script>
  <style>
    .hidden {
      display: none;
    }
    .card {
      margin: 10px auto;
      padding: 40px;
      border-radius: 20px;
      background: #f5f7f7;
    }
    .info-labels {
      font-weight: bold;
    }

    #service-table {
      max-height: calc(100vh - 220px);
      overflow: auto;
      display: inline-block;
    }

    .row.content {
      height: calc(100vh - 110px);
    }

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    header {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    .sidenav {
      min-height: 350px;
    }

    #modal-dialog {
      background-color: rgba(20, 20, 20, 0.5);
    }
  </style>
</html>
